Package: housing
Version: [[version]]
Section: mygov
Priority: optional
Architecture: all
Maintainer: martin.ellis@gov.scot
Depends: java8-runtime-headless
Description: Housing Service
 Provides APIs used by the housing forms on the informational site,
 including:
 .
 * Model Tenancy Form
 * Rent Pressure Zones
